
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
.container {
    width: 90%;
    max-width: 1349px;
    margin: 30px auto;
}
/*NAV*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    object-fit: contain;
    width: 100px;
    height: 100px;
}
.nav-items {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
}
.nav-item {
    margin-left: 70px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    color: rgba(8, 6, 46, 0.781);
}
/*BANNER*/
.banner {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-between;
}
.banner-title {
    font-size: 100px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Montserrat";
    color: rgb(8, 6, 46);
    line-height: 1.02;
}
.banner-title span {
    color: #FFD700;
}
.banner-subtitle {
    font-family: "Montserrat";
    font-size: 16px;
    color: rgba(8, 6, 46, 0.733);
    text-transform: capitalize;
    margin-bottom: 5px;
}
.btns {
    display: flex;
}
.banner-btn {
    margin-top: 35px;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    text-transform: capitalize;
}
.banner-btn-ws {
    background-color: #29D634;
    color: #fff;
    border: none;
}
.banner-btn-gallery {
    background-color: transparent;
    color: rgb(8, 6, 46);
    border: 2px solid rgb(255, 217, 0);
}
.banner-btn-gallery:hover {
    background-color: rgb(255, 217, 0);
    transition: 0.5s;
}
.banner-btn-ws i {
    font-weight: 900;
    margin-left: 15px;
    font-size: 22px;
}
.banner-img-gallery {
    width: 100%;
    height: 550px;
    object-fit: contain;
    margin-top: -30px;
}

/*INFO*/

.info {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    grid-gap: 0 20px;
    padding: 0 100px;
    border-radius: 30px;
    margin: 90px 0 0 0;
    font-family: "Montserrat";
}
.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-title {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 35px;
    color: rgb(8, 6, 46);
}
.info-content {
    font-size: 15px;
    text-indent: 15px;
    color: rgb(8, 6, 46);
    line-height: 1.5;
}
.info-content span {
    color: rgb(70, 61, 236);
}
.info img {
    width: 100%;
    height: 280px;
    object-fit: contain;
}

/*gallery*/
.gallery {
    margin-top: 50px;
    font-family: "Montserrat";
}
.gallery-title {
    color: gold;
    font-weight: 800;
    font-size: 40px;
    font-family: "Montserrat";
    margin-bottom: 50px;
}
.gallery-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 30px;
}
.gallery-items img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.btn-ver-dibujo {
    padding: 25px;
    border-radius: 10px;
    border: none;
    background: rgb(255, 255, 255);
    color: black;
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    font-size: 20px;

}
.btn-buy-img {
    padding: 22px;
    background-color: gold; 
    border: none;
    border-radius: 10px;
    color: rgb(24, 24, 24);
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 17px;
}
.btn-buy-img i {
    margin-right: 5px;
}
.gallery-item-body {
    margin-top: -67px;
}
.btn-ver-img {
    padding: 22px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    background: #000;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat";
}
/*FOOTER*/
.footer {
    margin-top: 70px;
    padding: 30px 300px;
    background: #000;
}
.footer-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1349px;
}
.logo-m {
    border-radius: 50px;
}
.redes {
    display: flex;
    gap: 0 25px;
}
.redes i {
    font-size: 25px;
    color: gold;
    cursor: pointer;
    transition: 0.5s;
}
.redes i:hover {
    color: #fff;
}
.direccion {
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    font-family: "Montserrat";
    font-weight: 500;
}


/*RESPONSIVE*/

.menu {
    width: 100%;
    position: absolute;
    background-color: #fff;
    height: 350px;
    padding: 40px;
    top: 0; 
}
.menu-items {
    display: flex;
    align-items: center; 
    flex-direction: column;
    gap: 40px;
}
.nav-res-item {
    font-family: "Montserrat";
    font-size: 17px;
    color: rgba(8, 6, 46, 0.815);
    font-weight: 600;
    text-transform: capitalize;
}
.show {
    display: block;
    animation-duration: 0.3s;
    animation-name: menu;
}
.hidden {
    display: none;
    animation-duration: 0.3s;
    animation-name: faded;
}
@keyframes menu {
    0%{opacity: 0%;}
    25%{opacity: 50%;}
    100%{opacity: 100%;}
}
@keyframes faded {
    0%{opacity: 100%;}
    25%{opacity: 50%;}
    100%{opacity: 0%;}
}
.menu-i {
    font-size: 30px;
    cursor: pointer;
}
.close-menu {
    color: rgba(8, 6, 46, 0.815);
    font-size: 20px;
}
.menu-show {
    display: none;
}
.bg {
    background: red;
}

@media screen and (max-width: 1300px) {
    .menu-show {
        display: block;
    }
    .banner-title {
        font-size: 80px;
    }
    .banner-img-gallery {
        height: 450px;
    }
  .nav-items a {
        display: none;
    }
    .gallery-title {
        margin-top: 70px;
    }
    .footer {
        padding: 40px 20px;
    }
    .footer-content {
        justify-content: center;
        flex-direction: column;
    }
    .redes {
        margin-bottom: 20px;
    }
    .btn-ver-img, .btn-buy-img {
        padding: 15px 22px;
    }
    .gallery-item-body {
        margin-top: -53px;
    }
  }

  @media screen and (max-width: 1035px) {
    .banner-title {
        font-size: 70px;
    }  
  }
  @media screen and (max-width: 955px) {
    .banner-btn-gallery {
        grid-area: img;
    }
    .banner-content {
        grid-area: text;
    }
    .banner {
        grid-template-columns: 100%;
        grid-template-areas: "img"
                            "text";
    }
    .banner-img-gallery {
        height: 380px;
    }
    .banner-content {
        margin-top: 40px;
        text-align: center;
    }
    .container {
        width: 80%;
    }
    .btns {
        justify-content: center;
    }
    .info-text {
        grid-area: infotexto;
    }
    .info-img {
        grid-area: infoimg;
        margin-bottom: 40px;
    }
    .info {
        grid-template-columns: 100%;
        grid-template-areas: "infoimg"
                            "infotexto";
        padding: 0;
    }
  }

  @media screen and (max-width: 795px) {
      .gallery-items {
          grid-gap: 30px 0;
          grid-template-columns: 100%;
      }
  }
  @media screen and (max-width: 599px) {

    .banner-title {
        font-size: 60px;
        margin-bottom: 40px;
    }
    .btns {
        flex-direction: column;
        justify-content: center;
    }
    .banner-btn {
        margin: 5px auto;
        width: 80%;
        padding: 20px 0;
        display: flex;
        justify-content: center;

    }
    
}